@use '../../styles/Variables.module.scss' as v;

.input__wrapper {
    margin-block-end: 1rem;
    width: 100%;
}

.input__label {
    font-size: v.$font-size-12;
    font-weight: 500;
    color: v.$color-rich-black;
    display: block;
    margin-block-end: 0.25rem;
}

.input__description {
    font-size: v.$font-size-12;
    font-weight: normal;
    color: v.$color-smoke-gray;
    display: block;
    margin-block-end: 0.5rem;
}

.input__box {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid v.$color-warm-grey-300;
}

.input__textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid v.$color-warm-grey-300;
}

.input__textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.input__error {
    font-size: v.$font-size-12;
    margin-block-start: 0.25rem;
    color: v.$color-state-error;
}
