@use '../../styles/Variables.module.scss' as v;

.input__wrapper {
    margin-block-end: 1rem;
    width: 100%;
}

.input__label {
    font-size: v.$font-size-12;
    font-weight: 500;
    color: v.$color-rich-black;
    display: block;
    margin-block-end: 0.25rem;

    &::after {
        content: ':';
    }
}

.input__description {
    font-size: v.$font-size-12;
    font-weight: normal;
    color: v.$color-smoke-gray;
    display: block;
    margin-block-end: 0.5rem;
}

.input__box {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid v.$color-warm-grey-300;
    background-color: v.$color-warm-grey-100;
    font-family: v.$font-base;
    cursor: pointer;

    &--error {
        border-color: v.$color-danger-base;
    }
}

.input__box:focus {
    outline: none;
    box-shadow: 0 0 0 1px black;
    border-color: black;
}

.input__error {
    font-size: v.$font-size-12;
    margin-block-start: 0.25rem;
    color: v.$color-danger-base;
}

.visually-hidden {
    @include v.visually-hidden;
}
