@use '../../styles/globals.module.scss' as g;

.input__wrapper {
    width: 100%;
    @include g.caption;
}

.input__label {
    @include g.caption;
    font-weight: 500;
    font-family: 'Mona Sans';
}

.input__description {
    color: g.$color-smoke-gray;
    margin-block-start: 0.2rem;
}

.input__box {
    width: 100%;
    min-height: 48px;
    padding: 0.75rem 1rem;
    margin-block-start: 0.5rem;
    border: 1px solid g.$color-rich-black;
    border-radius: 2px;
    color: g.$color-rich-black;
    background-color: g.$color-white;
    font-family: inherit;
    cursor: pointer;
    @include g.body--1;

    &::placeholder {
        opacity: 0.5;
    }

    &--error {
        border-color: g.$color-danger-base;
    }
}

.input__box:focus {
    outline: none;
    box-shadow: 0 0 0 1px g.$color-rich-black;
    border-color: g.$color-rich-black;
}

.input__error {
    margin-block-start: 0.25rem;
    color: g.$color-danger-base;
    display: inline-flex;
    align-items: center;
    font-size: 0.75rem;
}

.visually-hidden {
    @include g.visually--hidden;
}