@use '../../styles/Variables.module.scss' as v;

$gap: 0.5rem;

.recipe__form--accordion {
    [data-accordion-content] {
        background-color: white;
        padding: 1.5rem 2rem;
        display: flex;
        flex-flow: row wrap;
        gap: $gap;
    }

    /** General Info */
    [data-accordion-content]:nth-child(1) {

        [data-input-wrapper="description"],
        [data-input-wrapper="title"] {
            flex-basis: 100%;
        }

        [data-input-wrapper="servings"],
        [data-input-wrapper="time.prep"],
        [data-input-wrapper="time.cook"] {
            flex: 1 1 30%;
        }

        [data-input-wrapper="mainIngredient"],
        [data-input-wrapper="cuisine"],
        [data-input-wrapper="categories"] {
            flex: 1 1 30%;
        }
    }
}

.ingredients__list {
    flex-basis: 100%;

    &--item {
        display: flex;
        margin-block-end: 0.35rem;
        gap: $gap;


        /** Draggable Button: */
        &>div:nth-child(1) {
            flex: 1 0 20px;
            display: flex;
            align-items: center;
        }

        /** Ingredient unit input: */
        &>div:nth-child(2) {
            flex: 1 0 80px;
        }

        /** Ingredient fraction input: */
        &>div:nth-child(3) {
            flex: 1 0 110px;
        }

        /** Ingredient measure input: */
        &>div:nth-child(4) {
            flex: 1 0 135px;
        }

        div[data-input-wrapper] {
            margin-block-end: 0px;

            label {
                visibility: hidden;
                line-height: 0;
                margin: 0
            }
        }
    }
}

.instructions__list {
    flex-basis: 100%;

    &--item {
        display: flex;
        gap: $gap;

        div[data-input-wrapper] {
            margin-block-end: 0px;
        }
    }
}

.button__icon--delete {
    font-size: 1.5rem;
    color: v.$color-smoke-gray;

    &:hover {
        color: v.$color-state-error;
    }
}