@use '../../styles/Variables.module.scss' as v;

$button-border-radius: 0px;

/** Unstyled Buttons: **/
.button {
    --webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

/** Styled Buttons: **/
.button__base {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem; // add variable
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: $button-border-radius;

    /* Buttons with label: */
    padding: 0.625rem 1.5rem;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }

    &--icon {
        /* Buttons without label: */
        padding: 0.75rem;
    }

    &--default {
        color: v.$color-rich-black;
        background-color: v.$color-white;
        border-color: v.$color-rich-black;

        &:hover:not([disabled]) {
            color: v.$color-white;
            background-color: v.$color-rich-black;
            border-color: v.$color-rich-black;
        }
    }

    &--filled {
        &:hover:not([disabled]) {}
    }

    &--light {


        &:hover:not([disabled]) {}
    }

    &--outline {


        &:hover:not([disabled]) {}
    }

    &__text {


        &:hover:not([disabled]) {}
    }

    &--compact {
        /* 13px */
        font-size: 0.813rem;
        padding: 0.75rem 1.15rem;
    }

    span.icon__container {
        display: flex;
        align-items: center;

        &--left {
            margin-inline-end: 0.5rem;
        }

        &--right {
            margin-inline-start: 0.5rem;
        }
    }
}