@use '../../styles/Variables.module.scss' as v;

$button-border-radius: 0px;

$button-color: v.$color-white;
$button-color-background: v.$color-rich-black;
$button-color-hover: v.$color-smoke-gray;
$button-color-shade: v.$color-cool-grey-100;

/** Unstyled Buttons: **/
.button__base {
    --webkit-appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.8;
    }
}

/** Styled Buttons: **/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $button-color-background;
    border-radius: $button-border-radius;
    padding: 0.625rem 1.5rem;
    background-color: $button-color-background;
    color: $button-color;

    &--label {
        font-size: 0.85rem;
        letter-spacing: 0.15rem;
    }

    &--compact {
        /* 13px */
        font-size: 0.813rem;
        padding: 0.75rem 1.15rem;
    }

    &:hover:not([disabled]) {
        background-color: $button-color-hover;
    }

    &--secondary {}


    &--success {}

    span.icon__container {
        display: flex;
        align-items: center;

        &--left {
            margin-inline-end: 0.5rem;
        }

        &--right {
            margin-inline-start: 0.5rem;
        }
    }
}

/** Button Variants: */
.button {
    &--filled {
        color: v.$color-white;
        background-color: $button-color-background;
        border-color: $button-color-background;

        &:hover:not([disabled]) {
            background-color: $button-color-hover;
            border-color: $button-color-hover;
        }
    }

    &--outline {
        color: $button-color-background;
        background-color: v.$color-white;
        border-color: $button-color-background;

        &:hover:not([disabled]) {
            background-color: $button-color-shade;
        }
    }
}
