@use "sass:color";
@use '../../styles/Variables.module.scss' as v;
@use '../Button/styles.module.scss' as button;

/* Form & Accordion Layout
============================ */
.recipe__form--wrapper {

    /** Accordion Trigger / Form Fieldset Headings: */
    [data-accordion-trigger] {
        background-color: v.$color-warm-grey-200;
        color: v.$color-rich-black;
        border-top: 2px solid v.$color-rich-black;
        font-family: 'Chivo', sans-serif;
        font-size: calc(1.25rem + 0.390625vw);
        letter-spacing: 0.02rem;
        padding: 0.5rem 1rem;
        outline: none;

        &:focus {
            border-top: 2px solid v.$color-primary-base;
            outline: none;
        }

        @media (hover: hover) {
            &:hover:not([disabled]) {
                background-color: v.$color-primary-base;
                color: v.$color-white;
                border-color: v.$color-primary-base;
            }
        }
    }

    /** Accordion Panels / Form Fieldsets: */
    [data-accordion-content] {
        background-color: white;
        padding: 1.5rem 1rem;
    }

    /** 768px and above: */
    @media only screen and (min-width: v.$breakpoint-medium) {
        [data-accordion-trigger] {
            padding: 0.75rem 1.5rem 0.75rem 2rem;
        }

        [data-accordion-content] {
            padding: 1.5rem 2rem;
        }
    }
}

/* 01. About Fieldset
============================ */
.about__fieldset {
    display: flex;
    gap: 1rem;

    @media only screen and (max-width: v.$breakpoint-small) {
        flex-direction: column;
    }

    /** 768px and above: */
    @media only screen and (min-width: v.$breakpoint-small) {
        flex-flow: row wrap;

        [data-input-wrapper="description"],
        [data-input-wrapper="title"] {
            flex-basis: 100%;
        }

        [data-input-wrapper="servings"],
        [data-input-wrapper="time.prep"],
        [data-input-wrapper="time.cook"],
        [data-input-wrapper="mainIngredient"],
        [data-input-wrapper="cuisine"],
        [data-input-wrapper="categories"] {
            flex-basis: calc(50% - 1rem);
        }

    }

    /** 768px and above: */
    @media only screen and (min-width: v.$breakpoint-large) {
        flex-flow: row wrap;

        [data-input-wrapper="description"],
        [data-input-wrapper="title"] {
            flex-basis: 100%;
        }

        [data-input-wrapper="servings"],
        [data-input-wrapper="time.prep"],
        [data-input-wrapper="time.cook"] {
            flex: 1 1 30%;
        }

        [data-input-wrapper="mainIngredient"],
        [data-input-wrapper="cuisine"],
        [data-input-wrapper="categories"] {
            flex: 1 1 30%;
        }

    }
}

/* 02. Ingredients Fieldset
============================ */
.ingredients__fieldset {
    .ingredients__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .ingredients__list--item {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            background-color: v.$color-warm-grey-100;
            padding: 0.5rem;

            .button__drag--handler {
                color: v.$color-smoke-gray;
                @include button.icon--button;
            }

            .ingredient__item--wrapper {
                flex-basis: 100%;
                order: 3;
            }

            .button__icon--delete {
                color: v.$color-danger-base;
                @include button.icon--button;
                text-align: right;
            }
        }

        .ingredient__item--wrapper {
            display: flex;
            flex-flow: row wrap;
            gap: 0.5rem;

            input {
                background-color: v.$color-white;
            }

            /** Ingredient unit input: */
            &>div:nth-child(1) {
                flex-basis: 60px;
            }

            /** Ingredient fraction input: */
            &>div:nth-child(2) {
                flex: 3;
            }

            /** Ingredient measure input: */
            &>div:nth-child(3) {
                flex: 3;
            }
        }
    }

    /** Add new ingredient button: */
    &>button {
        width: 100%;
        margin-block-start: 1rem;
    }

    /** 1024px and above: */
    @media only screen and (min-width: v.$breakpoint-large) {
        .ingredients__list {
            gap: 0.5rem;

            .ingredients__list--item {
                flex-wrap: nowrap;
                align-items: end;
                background-color: transparent;
                padding: 0;

                .button__drag--handler {
                    order: 1;
                }

                .ingredient__item--wrapper {
                    order: 2;
                }

                .button__icon--delete {
                    order: 3;
                }
            }

            .ingredient__item--wrapper {
                flex-wrap: nowrap;

                [data-input-wrapper] {
                    label {
                        @include v.visually-hidden;
                    }
                }

                &>div:nth-child(1) {
                    flex: 1 0 70px;
                }


                &>div:nth-child(2) {
                    flex: 1 0 115px;
                }

                &>div:nth-child(3) {
                    flex: 1 0 135px;
                }
            }
        }
    }
}

/* 03. Instructions Fieldset
============================ */
.instructions__fieldset {
    .instructions__list {
        &--item {
            position: relative;

            // Input Label:
            label {
                font-size: 0.9rem;
            }

            .button__icon--delete {
                position: absolute;
                top: -0.75rem;
                right: -0.5rem;
                color: v.$color-danger-base;
                @include button.icon--button;
            }

            &:not(:first-of-type) {
                margin-block-start: 1rem;
            }
        }
    }

    /** Add new step button: */
    &>button {
        width: 100%;
        margin-block-start: 1rem;
    }
}

/* 04. Extra Info Fieldset
============================ */
.image__section {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;

    h3 {
        color: v.$color-rich-black;
        font-size: 0.9rem;
    }

    p {
        font-size: v.$font-size-12;
        color: v.$color-smoke-gray;
    }

    .image__input--wrapper {

        .box__file {
            @include v.visually-hidden;

            &+label {
                cursor: pointer;
            }
        }

        // File input with drag and drop feature:
        .box.advanced--upload {
            background-color: v.$color-warm-grey-100;
            outline: 2px dashed v.$color-warm-grey-400;
            outline-offset: -10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
            transition: outline-offset .15s ease-in-out, background-color .15s linear;


            @media only screen and (max-width: v.$breakpoint-small) {
                flex-flow: row wrap;
                gap: 1rem;
            }

            &.drag--active {
                background-color: v.$color-white;
                outline-offset: -20px;
            }

            .box__file {
                &+label {
                    color: v.$color-rich-black;

                    &:hover b {
                        text-decoration: underline;
                    }
                }

                &:focus+label b {
                    color: v.$color-primary-base;
                    text-decoration: underline;
                }
            }
        }

        // File input for touchscreen devices:
        .box.no--advanced--upload {
            position: relative;
            margin-block: 0.25rem;

            .box__file+label {
                display: inline-block;
                padding: 0.65rem 1.25rem 0.65rem 2.5rem;
                background-color: v.$color-primary-base;

                b {
                    color: v.$color-white;
                    font-size: 0.9rem;
                    font-weight: normal
                }

                span {
                    @include v.visually-hidden;
                }

                &:hover {
                    background-color: v.$color-primary-hover;
                }
            }

            svg {
                position: absolute;
                stroke: v.$color-white;
                top: 0.5rem;
                left: 1rem;
            }
        }
    }

    .image__view--wrapper {
        position: relative;
        overflow: hidden;
        width: 250px;
        height: 250px;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        button {
            position: absolute;
        }
    }

    @media only screen and (max-width: v.$breakpoint-small) {
        .image__input--wrapper {
            flex-basis: 100%;

            .box {
                margin-block: 0.75rem;
            }

            .box.advanced--upload {
                padding-block: 2rem;
            }
        }
    }

    @media only screen and (min-width: v.$breakpoint-small) {
        .image__input--wrapper {
            flex: 1;

            .box.advanced--upload {
                height: 100%;

                label {
                    max-width: 80%;
                    text-align: center;
                }
            }
        }

        .image__view--wrapper {
            width: 200px;
            height: 200px;
        }
    }
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }

    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }

    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }

    75% {
        transform: translateY(-50%) scale(1.1);
    }

    to {
        transform: translateY(-50%) scale(1);
    }
}