@use "sass:color";
@use '../../styles/Variables.module.scss' as v;

.recipe__form--wrapper {
    [data-accordion-content] {
        background-color: white;
        padding: 1.5rem 2rem;
    }

    [data-accordion-content].about__fieldset {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        [data-input-wrapper="description"],
        [data-input-wrapper="title"] {
            flex-basis: 100%;
        }

        [data-input-wrapper="servings"],
        [data-input-wrapper="time.prep"],
        [data-input-wrapper="time.cook"] {
            flex: 1 1 30%;
        }

        [data-input-wrapper="mainIngredient"],
        [data-input-wrapper="cuisine"],
        [data-input-wrapper="categories"] {
            flex: 1 1 30%;
        }
    }

    [data-accordion-content].ingredients__fieldset {
        .ingredients__list {
            &--item {
                display: flex;
                align-items: flex-start;
                margin-block-end: 0.5rem;
                gap: 0.5rem;

                /** Draggable Button: */
                &>div:nth-child(1) {
                    flex: 1 0 20px;
                    padding-block-start: 0.6rem;
                }

                /** Ingredient unit input: */
                &>div:nth-child(2) {
                    flex: 1 0 80px;
                }

                /** Ingredient fraction input: */
                &>div:nth-child(3) {
                    flex: 1 0 110px;
                }

                /** Ingredient measure input: */
                &>div:nth-child(4) {
                    flex: 1 0 135px;
                }

                .button__icon--delete {}
            }
        }

        button {
            margin-block-start: 0.75rem;
        }
    }

    [data-accordion-content].instructions__fieldset {
        .instructions__list {
            &--item {
                display: flex;
                margin-block-end: 0.5rem;
                position: relative;

                label {
                    margin-block-end: 0.5rem;
                }

                .button__icon--delete {
                    position: absolute;
                    right: 0;
                    top: -0.5rem;
                }
            }
        }

        button {
            margin-block-start: 0.5rem;
        }
    }

    [data-accordion-content].extracontent__fieldset {}
}

.photo__section {
    display: flex;
    gap: 1rem;
}

.image__input--wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h3 {
        color: v.$color-rich-black;
        font-size: 0.9rem;
    }

    p {
        font-size: v.$font-size-12;
        font-weight: normal;
        color: v.$color-smoke-gray;
        margin-block-start: 0.25rem;
    }
}

.image__view--wrapper {
    button {
        width: 100%;
    }
}

// has drag and drop feature:
.box.advanced--upload {
    flex-grow: 1;
    background-color: v.$color-warm-grey-100;
    text-align: center;
    margin-block: 1rem;
    padding: 2rem;
    outline: 2px dashed v.$color-warm-grey-400;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;

    &.drag--active {
        background-color: v.$color-white;
        outline-offset: -20px;
    }

    .box__icon {
        stroke: color.scale(v.$color-smoke-gray , $lightness: 60%);
    }

    .box__file {
        &+label {
            color: v.$color-rich-black;

            &:hover b {
                text-decoration: underline;
            }
        }

        &:focus+label {
            // todo:
            outline: 1px dotted v.$color-input-outline;
            outline: -webkit-focus-ring-color auto 4px;
        }
    }
}

.box__file {
    @include v.visually-hidden;

    &+label {
        cursor: pointer;
    }
}

.box.no--advanced--upload {
    position: relative;

    .box__file+label {
        max-width: 100%;
        display: inline-block;
        padding: 0.5rem 1.25rem 0.5rem 2.5rem;
        margin-block: 0.25rem;
        background-color: v.$color-primary-base;

        b {
            color: v.$color-white;
            font-size: 0.9rem;
            font-weight: normal
        }

        span {
            @include v.visually-hidden;
        }

        &:hover {
            background-color: v.$color-primary-hover;
        }
    }

    svg {
        position: absolute;
        stroke: v.$color-white;
        top: 0.5rem;
        left: 1rem;
    }
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
    visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box__uploading {
    font-style: italic;
}

.box__success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

.box__restart {
    font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
    color: #39bfd3;
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }

    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }

    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }

    75% {
        transform: translateY(-50%) scale(1.1);
    }

    to {
        transform: translateY(-50%) scale(1);
    }
}