@use "sass:color";
@use '../../styles/globals.module.scss' as g;
@use '../Button/Button.module.scss' as button;

/* New Recipe / Edit Recipe Page Nav Bar
============================ */
.recipe__sub--navigation {
    &> :first-child {
        border-right: g.$border-default;
    }

    &> :nth-child(3) {
        margin-left: auto;

        svg {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        span {
            display: none;
        }

        /* 'Go Back' Icon Button: */
        @media only screen and (max-width: g.$breakpoint-small) {
            span:first-of-type {
                display: inline;
            }
        }

        /* 'Go Back' Text Button: */
        @media only screen and (min-width: g.$breakpoint-small) {
            span:last-of-type {
                display: inline;
            }
        }
    }

    &> :nth-child(3),
    &> :last-child {
        border-left: g.$border-default;
    }

    &> :last-child {
        padding-inline: 2.25rem;
    }
}

/* Form & Accordion Layout
============================ */
.recipe__form--wrapper {
    @include g.main--wrapper;
    margin-block-start: 1.5rem;
    margin-block-end: 2.5rem;

    &>p {
        font-size: 0.825rem;
        padding-inline: 1.5rem;
        padding-block-end: 1.25rem;
    }

    /** Accordion Trigger / Form Fieldset Headings: */
    [data-accordion-trigger] {
        padding-block: 1.125rem;
        border-top: 3px solid g.$color-rich-black;
        //color: g.$color-rich-black;
        font-size: calc(1.35rem + 0.390625vw);
        font-family: g.$font-accent;
        font-stretch: 125%;
        font-weight: 800;
        letter-spacing: 0.1px;

        &[aria-expanded="true"] {
            //background-color: g.$color-warm-grey-100;
        }

        @media (hover: hover) {
            &:hover:not([disabled]) {
                //background-color: g.$color-rich-black;
                //color: g.$color-white;
                //background-color: g.$color-rich-black;
            }
        }
    }

    /** Accordion Panels / Form Fieldsets: */
    [data-accordion-content],
    [data-accordion-trigger] {
        padding-block: 1.5rem;
        padding-inline: calc(0.75rem + 1.5625vw);
    }
}

/* 01. About Fieldset
============================ */
.about__fieldset {
    display: flex;
    gap: 1rem;

    @media only screen and (max-width: g.$breakpoint-small) {
        flex-direction: column;
    }

    @media only screen and (min-width: g.$breakpoint-small) {
        flex-flow: row wrap;

        [data-input-wrapper="categories"] {
            flex-basis: 100%;
        }

        [data-input-wrapper]:nth-child(n+5):not(:last-child) {
            flex-basis: calc(50% - 0.5rem);
        }
    }
}



/* 04. Extra Info Fieldset
============================ */
.extrainfo__fieldset {
    .image__section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-block-end: 1.5rem;

        h3 {
            //color: g.$color-rich-black;
            font-size: 0.9rem;
        }

        p {
            @include g.caption;
            //color: g.$color-smoke-gray;
        }

        .image__input--wrapper {
            .box__file {
                @include g.visually--hidden;

                &+label {
                    cursor: pointer;
                }
            }

            // File input with drag and drop feature:
            .box.advanced--upload {
                //background-color: g.$color-white;
                //outline: 1px dashed g.$color-rich-black;
                outline-offset: -10px;
                padding-block: 2.5rem;
                -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
                transition: outline-offset .15s ease-in-out, background-color .15s linear;
                display: grid;
                place-content: center;

                &.drag--active {
                    outline-offset: -20px;
                }

                .box__file {
                    &+label {
                        //color: g.$color-rich-black;
                        width: 100%;

                        &:hover b {
                            text-decoration: underline;
                        }
                    }

                    &:focus+label b {
                        text-decoration: underline;
                    }
                }
            }

            // File input for touchscreen devices:
            .box.no--advanced--upload {
                position: relative;
                margin-block: 0.25rem;

                .box__file+label {
                    display: inline-block;
                    padding: 0.65rem 1.25rem 0.65rem 2.5rem;

                    b {
                        //color: g.$color-white;
                        font-size: 0.9rem;
                        font-weight: normal
                    }

                    span {
                        @include g.visually--hidden;
                    }

                    &:hover {}
                }

                svg {
                    position: absolute;
                    //stroke: g.$color-white;
                    top: 0.5rem;
                    left: 1rem;
                }
            }
        }

        .image__view--wrapper {
            position: relative;
            overflow: hidden;
            width: 250px;
            height: 250px;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }

            button {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
            }
        }

        @media only screen and (min-width: g.$breakpoint-small) {
            flex-flow: row wrap;

            h3,
            p,
            div[role="alert"] {
                flex-basis: 100%;
            }

            .image__input--wrapper {
                flex: 1;

                .box.advanced--upload {
                    height: 100%;
                }
            }

            .image__view--wrapper {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }

    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }

    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }

    75% {
        transform: translateY(-50%) scale(1.1);
    }

    to {
        transform: translateY(-50%) scale(1);
    }
}

/* Instructions Steps/Ingredients - Draggable List
============================ */
.draggable__list {
    li {
        display: flex;
        align-items: center;
        padding-block: 0.5rem;
        margin-bottom: 0.5rem;
        //background-color: g.$color-warm-grey-100;

        /* Step No. Label Text */
        span {
            @include g.body--2;
            flex: 1;
            overflow: hidden;
            /* Partial support: */
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            padding-inline: 0.5rem;
        }

        /* Button that triggers real delete button */
        button[data-action="show-delete"] {
            //background-color: tomato;
        }

        /* Button for Beautiful DnD */
        button[data-action="drag-handler"] {
            //background-color: aqua;
        }
    }
}