@use '../../styles/globals.module.scss' as g;

.recipe__card {
    width: 230px;
    font-size: 0.825rem;
    position: relative;
    padding: 4px;
    background-color: g.$color-white;
    border: g.$border-default;

    &:hover {
        h3 {
            text-decoration: underline;
        }
    }

    .card__tag {
        position: absolute;
        padding: 0.5rem 0.75rem;
        top: -6px;
        right: 10px;
        z-index: 1;
        background-color: g.$color-rich-black;
        color: g.$color-white;
        border-bottom: 1px solid g.$color-white;
        font-size: 0.65rem;
        font-weight: 500;
        letter-spacing: 1.25px;
        text-transform: uppercase;
    }

    .card__image--wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 90px;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    .card__info--wrapper {
        padding: 0.5rem;
        height: 110px;
        color: g.$color-rich-black;
        background-color: g.$color-white;

        /* Title */
        h3 {
            font-family: g.$font-accent;
            font-size: 1.25rem;
            text-transform: capitalize;
            margin-block-end: 0.35rem;
            overflow: hidden;
            hyphens: auto;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
        }

        /* Author */
        span {
            display: inline-block;
            max-width: 80%;
        }
    }

    /* Bookmark Control */
    .card__controls--base {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        z-index: 1;

        button {
            padding: 0.25rem;

            svg path {
                fill: g.$color-cool-grey-100;
            }

            &:hover {
                svg path {
                    fill: g.$color-cool-grey-400;
                }
            }
        }
    }
}