@use '../../styles/globals.module.scss' as g;

.recipe__card {
    width: 230px;
    min-height: 220px;
    font-family: g.$font-accent;
    font-size: 0.825rem;
    position: relative;
    padding: 4px;
    color: g.$color-rich-black;
    background-color: g.$color-white;
    border: g.$border-default;

    .card__badge {
        padding: 0.5rem 0.75rem;
        background-color: g.$color-rich-black;
        color: g.$color-white;
        border-bottom: 1px solid g.$color-white;
        font-size: 0.65rem;
        font-weight: 500;
        letter-spacing: 1.25px;
        text-transform: uppercase;

        &.card__tag {
            position: absolute;
            z-index: 1;
            top: -6px;
            right: 10px;
        }
    }

    .card__image--wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100px;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        &:hover+div {
            h3 {
                text-decoration: underline;
            }
        }
    }

    .card__info--wrapper {
        padding: 0.5rem;
        height: 90px;

        /* Title */
        h3 {
            font-size: 1.25rem;
            text-transform: capitalize;
            margin-block-end: 0.35rem;
            overflow: hidden;
            hyphens: auto;
            /* Partial support: */
            text-wrap: balance;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
        }

        /* Author */
        span {
            display: inline-block;
            max-width: 80%;
            font-family: g.$font-base;
        }

        &:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }

    /* Edit Recipe Control */
    .card__controls--edit {
        position: absolute;
        z-index: 1;
        font-size: 0.75rem;
        font-weight: 600;
        color: g.$color-rich-black;
        background-color: g.$color-accent-yellow;
        border-bottom-color: black;
        border-width: 2px;
    }

    /* Bookmark Control */
    .card__controls--base {
        position: absolute;
        right: 0.5rem;
        bottom: 0.25rem;

        button {
            padding: 0.25rem;

            svg path {
                fill: g.$color-cool-grey-100;
            }

            &:hover {
                svg path {
                    fill: g.$color-cool-grey-400;
                }
            }
        }
    }

    /* Publish & Delete Recipe Control */
    .card__controls--box {
        width: 100%;
        margin-block-start: 0.5rem;
        border-top: g.$border-default;

        button {
            width: 50%;
            height: 100%;
            padding-block: 0.5rem;
            text-align: center;

            span {
                position: relative;
                font-size: 0.65rem;
                font-weight: 600;
                letter-spacing: 1.25px;
                text-transform: uppercase;
            }

            span::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: g.$color-rich-black;
                bottom: -4px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .1s ease-in-out;
            }

            &:hover {
                span::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }

        button:first-of-type {
            border-right: g.$border-default;

            span::before {
                background-color: g.$color-rich-black;
            }
        }

        button:last-of-type {
            color: g.$color-danger-base;

            span::before {
                background-color: g.$color-danger-base;
            }
        }
    }
}