@font-face {
    font-family: 'Mona Sans';
    src:
        url('../../public/fonts/MonaSans.woff2') format('woff2 supports variations'),
        url('../../public/fonts/MonaSans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

@font-face {
    font-family: 'Kalam';
    src:
        url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

    font-weight: 300 400;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 247, 247, 247;
    --background-end-rgb: 255, 255, 255;

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root,
body,
#__next {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

header,
main {
    width: 100%;
}

main {
    flex: 1;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

fieldset,
button {
    border: none;
}