@font-face {
    font-family: 'Mona Sans';
    src:
        url('../fonts/MonaSans.woff2') format('woff2 supports variations'),
        url('../fonts/MonaSans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 247, 247, 247;
    --background-end-rgb: 255, 255, 255;

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
}

body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

ul,
li {
    list-style: none;
}

@media only screen and (min-width: 768px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

header {
    position: relative;
}
