@font-face {
    font-family: 'Mona Sans';
    src:
        url('../fonts/MonaSans.woff2') format('woff2 supports variations'),
        url('../fonts/MonaSans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 247, 247, 247;
    --background-end-rgb: 255, 255, 255;

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
}

@media (prefers-color-scheme: dark) {
    :root {}
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    font-size: 16px;
    background-color: #F8F9F7;
}

body {
    min-height: 100vh
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

ul,
li {
    list-style: none;
}

@media only screen and (min-width: 768px) {
    main {
        width: 90%;
        margin: 0 auto;
    }
}


a {
    color: inherit;
    text-decoration: none;
}

header {
    position: relative;
}

.nav__bar {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    border: 2px solid black;
    height: 55px;
}

.nav__bar button,
.nav__bar a,
.nav__bar span {
    font-family: "Mona Sans";
    font-stretch: extra-expanded;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.75px;
    padding-inline: 1.75rem;
    height: 100%;
    font-size: 0.9rem;
}

.nav__bar a {
    display: inline-block;
}

.nav__bar button:hover,
.nav__bar a:hover {
    border-radius: 0px;
    text-decoration: wavy underline;
}

.nav__bar button:last-child {
    background-color: rgb(255, 221, 0);
}

.nav__bar button:not(:last-child) {
    border-right: 2px solid black;
}