/** COLOR **/

$color-rich-black: #1b1b1b;
$color-smoke-gray: #767676;
$color-white: white;
$color-cool-grey-400: #B3B3B3;
$color-cool-grey-100: #D8D8D8;
$color-warm-grey-400: #DEDDD5;
$color-warm-grey-300: #e9e8e1;
$color-warm-grey-200: #F2F3EF;
$color-warm-grey-100: #F8F9F7;

$color-callout-base: #D87D4A;
$color-callout-hover: #FBAF85;

$color-input-outline: #5872f7;

$color-state-error: #FF0000;
$color-state-success: #60bf76;
$color-state-info: teal;

/** TYPOGRAPHY */
$font-accent: 'Major Mono Display', monospace;
$font-base: sans-serif;

$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-15: 0.938rem;

$line-height-15: 0.938rem;
$line-height-25: 1.563rem;

@mixin body {
    font-size: $font-size-15;
}

@mixin visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    border: 0;
    padding: 0;
}