/** COLOR **/
@use "sass:color";

$color-rich-black: #1b1b1b;
$color-smoke-gray: #767676;
$color-white: white;
$color-cool-grey-400: #B3B3B3;
$color-cool-grey-100: #D8D8D8;
$color-warm-grey-400: #DEDDD5;
$color-warm-grey-300: #e9e8e1;
$color-warm-grey-200: #F2F3EF;
$color-warm-grey-100: #F8F9F7;
//#D87D4A
$color-primary-base: #5872f7;
$color-primary-hover: #FBAF85;
$color-primary-shade: color.scale($color-primary-base, $lightness: 95%);

$color-danger-base: #FA5252;
$color-danger-shade: color.scale($color-danger-base, $lightness: 95%);
$color-danger-hover: color.scale($color-danger-base, $lightness: -30%);

$color-success-base: #60bf76;
$color-success-shade: color.scale($color-success-base, $lightness: 80%);
$color-success-hover: color.scale($color-success-base, $lightness: -30%);

$color-info-base: $color-smoke-gray;
$color-info-shade: color.scale($color-info-base, $lightness: 85%);

$color-input-outline: #5872f7;

/** TYPOGRAPHY */
$font-accent: sans-serif;
$font-base: 'Chivo', sans-serif;

$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-15: 0.938rem;

$line-height-15: 0.938rem;
$line-height-25: 1.563rem;

/** BREAKPOINTS */

/* Small screen devices (640px and below) */
@media only screen and (max-width: 640px) {}

$breakpoint-small: 640px;

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {}

$breakpoint-medium: 768px;

/* Large screen devices (1024px and above) */
@media only screen and (min-width: 1024px) {}

$breakpoint-large: 1024px;

/* Extra large screen devices (1280px and above) */
@media only screen and (min-width: 1280px) {}

$breakpoint-xlarge: 1280px;

/* 2xl screen devices (1536px and above) */
@media only screen and (min-width: 1536px) {}

$breakpoint-2xlarge: 1536px;

@mixin body {
    font-size: $font-size-15;
}

@mixin visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    border: 0;
    padding: 0;
}