@use '../../../../styles/globals.module.scss' as g;
@use '../../../../styles/typography' as t;

/* 04. Extra Info Fieldset
============================ */

.recipe--photo {
    h3 {
        font-size: 0.9rem;
    }

    p {
        color: g.$color-smoke-gray;
        font-size: 0.9rem;
        margin-block: 1rem;
    }

    // File input for touchscreen devices:


    .draggable__input {
        width: 250px;
        height: 250px;
    }

    .file__input {
        display: flex;
        align-items: center;
        margin-block: 1rem;
        padding: 0.75rem;
        background-color: gray;
        color: white;

        input[type="file"] {
            @include g.visually--hidden;
        }

        span {
            padding-inline-start: 0.3rem;
        }
    }

    .image__view--wrapper {
        position: relative;
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin-block-end: 1.5rem;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    @media only screen and (min-width: g.$breakpoint-small) {
        display: flex;
        flex-flow: row wrap;

        h3,
        p,
        div[role="alert"] {
            flex-basis: 100%;
        }

        .image__view--wrapper {
            width: 200px;
            height: 200px;
        }
    }
}