@use '../../styles/globals.module.scss' as g;
@use '../../styles/typography' as t;

.form__group {
    width: 100%;
    @include t.body--1($fs: t.$font-size-14);

    &>* {
        display: block;
        margin-block-end: 0.3rem;
    }

    .input__label {
       font-weight: 500;
    }

    /* Input Hint Message */
    .input__description {
        color: g.$color-smoke-gray;
    }

    &>input,
    &>textarea {
        width: 100%;
        min-height: 50px; // check this
        padding-inline: 1rem;
        border: g.$border-default;
        @include t.body--1;

        &::placeholder {
            opacity: 0.5;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px g.$color-rich-black;
        }

        &[aria-invalid="true"] {
            border-color: g.$color-danger-base;
        }
    }

    &>input[type="number"] {
        padding-inline-end: 0.5rem;
    }

    /* Input Error Message */
    [role="alert"] {
        color: g.$color-danger-base;
        display: inline-flex;
        align-items: center;
        font-size: 0.75rem;
    }
}

.visually-hidden {
    @include g.visually--hidden;
}