@use '../../styles/globals.module.scss' as g;
@use '../../styles/typography' as t;

.form__group {
    &>* {
        margin-block-end: 0.65rem;
    }

    &>input,
    &>textarea {
        width: 100%;
        padding-block: 0.75rem;
        padding-inline: 0.9rem;
        border: g.$border-default;
        @include t.body;

        &::placeholder {
            opacity: 0.5;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px g.$color-rich-black;
        }

        &[aria-invalid="true"] {
            border-color: g.$color-danger-base;
        }
    }
}
