@use '../../styles/globals.module.scss' as g;

.recipe__card {
    width: 230px;
    min-height: 220px;
    font-family: g.$font-accent;
    font-size: 0.825rem;
    position: relative;
    padding: 4px;
    color: g.$color-rich-black;
    background-color: g.$color-white;
    border: g.$border-default;

    .card__badge {
        padding: 0.55rem 0.75rem 0.45rem;
        background-color: g.$color-rich-black;
        color: g.$color-white;
        position: absolute;
        z-index: 1;
        @include g.overline($fs: 0.65rem);

        &.card__tag {
            top: -6px;
            right: 10px;
        }
    }

    .card__image--wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100px;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        &:hover+div {
            h3 {
                text-decoration: underline;
            }
        }
    }

    .card__info--wrapper {
        padding: 0.5rem;
        height: 90px;

        /* Title */
        h3 {
            font-family: g.$font-accent;
            /* test */
            font-weight: 600;
            /* test */
            font-size: 1.35rem;
            text-transform: capitalize;
            line-height: 1.2;
            /* test */
            margin-block-end: 0.35rem;
            overflow: hidden;
            /* Partial support: */
            text-wrap: balance;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
        }

        /* Author */
        span {
            display: inline-block;
            font-family: g.$font-base;
            font-weight: 500;
        }

        &:hover {
            h3 {
                text-decoration: underline;
            }
        }
    }

    /* Edit Recipe Control */
    .card__controls--edit {
        //color: g.$color-rich-black;
        //background-color: g.$color-accent-yellow;
        @include g.overline($fw: 600);

        &:hover {
            text-decoration: underline;
        }
    }

    /* Bookmark Control */
    .card__controls--base {
        position: absolute;
        right: 0.5rem;
        bottom: 0.25rem;

        button {
            padding: 0.25rem;

            svg path {
                //fill: g.$color-cool-grey-100;
            }

            &:hover {
                svg path {
                    //fill: g.$color-cool-grey-400;
                }
            }
        }
    }

    /* Publish & Delete Recipe Control */
    .card__controls--box {
        margin-block-start: 0.5rem;
        height: 35px;
        border-top: g.$border-default;
        display: flex;
        align-items: stretch;
        justify-content: center;

        button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 50%;

            svg {
                animation: rotate-animation 1.5s infinite linear;

                @keyframes rotate-animation {
                    0% {
                        transform: rotate(0deg);
                  }
                  50% {
                        transform: rotate(180deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }

            &>span {
                position: relative;
                @include g.overline($fs: 0.65rem, $fw: 600);
            }

            &>span::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                //background-color: g.$color-rich-black;
                bottom: -4px;
                left: 0;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .1s ease-in-out;
            }

            &:hover {
                &>span::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }

        button:first-of-type {
            border-right: g.$border-default;

            &>span::before {
                //background-color: g.$color-rich-black;
            }
        }

        button:last-of-type {
            //color: g.$color-danger-base;

            &>span::before {
                //background-color: g.$color-danger-base;
            }
        }
    }
}
