@use '../../../../styles/globals.module.scss' as g;
@use '../../../../styles/typography' as t;

/* Instructions Steps - Editable Inputs List
============================ */
div.edit__all--wrapper {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2rem;

    p {
        max-width: 75%;
        text-wrap: balance;
    }

    button {
        padding: 0.55rem 0.75rem 0.45rem;
        background-color: g.$color-rich-black;
        color: g.$color-white;
        @include t.overline($fs: 0.65rem);
    }
}

div.step__item--wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1rem;
    background-color: g.$color-warm-grey-100;
    padding: 1rem;

    button[data-action="close"] {
        border: none;
    }

    /* Textarea Input Wrapper */
    div[data-input-wrapper] {
        flex-basis: 100%;
    }
}

.steps__list--inputs {
    li {
        margin-block-end: 1rem;

        button[data-action="step-idle"] {
            display: flex;
            width: 100%;
            display: flex;
            background-color: g.$color-warm-grey-100;
            padding: 1.05rem 1rem;

            &:hover {
                background-color: g.$color-warm-grey-400;
            }

            span {
                flex: 1;
                @include t.body($fs: t.$font-size-15);
                overflow: hidden;
                /* Partial support: */
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                margin-inline-end: 1.5rem;
            }
        }
    }
}

/** Add new step button: */
.add__new--button {
    margin-block-start: 2rem;

    @media only screen and (max-width: g.$breakpoint-small) {
        width: 100%;
    }
}