@use '../../../../styles/globals.module.scss' as g;

/* Instructions Steps - Editable Inputs List
============================ */
.steps__list--inputs {
    li {

        /* Instruction Step Input Edit Wrapper */
        &>div {
            padding: 0.5rem;
            //background-color: g.$color-warm-grey-100;
            margin-block: 1rem;
            position: relative;

            /* 'Done' Button */
            button[data-action="save"] {
                position: absolute;
                font-size: 0.75rem;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.25px;
                top: 0;
                right: 0.5rem;
                z-index: 1;
                padding: 0.5rem;
            }

            /* Textarea Input Wrapper */
            div[data-input-wrapper] {
                label {
                    font-size: 0.825rem;
                    margin-block-end: 0.5rem;
                    letter-spacing: 0.25px;
                }
            }
        }

        button[data-action="step-idle"] {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 0.65rem;
            //background-color: g.$color-warm-grey-100;

            &:hover {
                //background-color: g.$color-warm-grey-400;
            }

            span {
                @include g.body--2;
                overflow: hidden;
                /* Partial support: */
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
            }
        }
    }
}

.edit__all--alert {
    padding-block: 1.5rem;
    margin-bottom: 0.65rem;
    display: flex;

    button {}
}

.new__step--input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    button[data-action="close"] {

    }
}

.instructions__fieldset {

    /** Add new step button: */
    &>button {
        margin-block-start: 1rem;

        @media only screen and (max-width: g.$breakpoint-small) {
            width: 100%;
        }
    }
}