@use '../../../../styles/globals.module.scss' as g;
@use '../../../Button/Button.module.scss' as button;

/* 03. Instructions Fieldset
============================ */
.instructions__fieldset {
    padding: 1.75rem 1.5rem 1.5rem;

    .instructions__list {
        &--item {
            display: flex;
            padding-block-end: 0.5rem;
            border-bottom: 1px solid lightgrey;
            //background-color: thistle;
            margin-block: 1rem;

            div {
                // step input wrapper
                flex: 1;
            }

            button[data-type="drag-handler"][data-active="false"] {
                width: 0px;
                height: 0px;
                overflow: hidden;
            }

            button[data-type="drag-handler"][data-active="true"] {
                margin-inline-end: 0.5rem;
            }

            // Input Label:
            label {
                //font-size: 1rem;
            }

            button[data-name="step-idle"] {
                span {

                    display: block;
                    font-size: 0.9rem;
                    line-height: 1.3rem;
                    overflow: hidden;
                    /* Partial support: */
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                }
            }

            button[data-name="save"] {
                position: absolute;
                font-size: 0.75rem;
                font-weight: bold;
                top: -1rem;
                right: 3rem;
                @include button.size($size: 42px)
            }

            button[data-name="delete"] {
                color: tomato;
                position: absolute;
                font-size: 0.75rem;
                font-weight: bold;
                top: -1rem;
                right: 0;
                @include button.size($size: 42px)
            }
        }
    }

    /** Add new step button: */
    &>button {
        margin-block-start: 1rem;

        @media only screen and (max-width: g.$breakpoint-small) {
            width: 100%;
        }
    }
}

.instructions__list {
    li.draggable__item {
        background-color: thistle;
        display: flex;
        align-items: center;
        padding-block: 0.5rem;
        margin-bottom: 0.5rem;

        span {
            flex: 1;
            font-size: 0.9rem;
            line-height: 1.3rem;
            overflow: hidden;
            /* Partial support: */
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            padding-inline: 1rem;
        }
    }

}