@use '../../styles/globals.module.scss' as g;
@use '../../styles/typography' as t;

.alert {
    width: 100%;
    padding: 0.5rem 1rem;
    position: relative;
   
    &__heading {
        font-weight: bold;
        display: inline-block;
        margin-block-end: 0.25rem;
    }

    &__body {
        @include t.body($fs: t.$font-size-15);
        display: flex;
        align-items: flex-start;
        gap: 0.25rem;
    }

    &__icon {
        width: 20px;
        height: 20px;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    a {
        font-weight: bold;
        text-decoration: underline;
    }

    [data-action="close-alert"] {
        position: absolute;
        top: 0;
        right: 0;
    }

    &--filled#{&}--danger {
        color: g.$color-white;
        background-color: g.$color-danger-base;
    }

    &--outline#{&}--danger {
        color: g.$color-danger-base;
        border: 1px solid g.$color-danger-base;
    }

    &--light#{&}--danger {
        color: g.$color-danger-base;
        background-color: g.$color-danger-shade;
        border: 1px solid g.$color-danger-base;
    }

    &--filled#{&}--success {
        color: g.$color-white;
        background-color: g.$color-success-base;
    }

    &--outline#{&}--success {
        color: g.$color-success-base;
        border: 1px solid g.$color-success-base;
    }

    &--light#{&}--success {
        background-color: g.$color-success-shade;
        color: g.$color-success-base;
        border: 1px solid g.$color-success-base;
    }

    &--filled#{&}--info {
        color: g.$color-white;
        background-color: g.$color-info-base;
    }

    &--outline#{&}--info {
        color: g.$color-info-base;
        border: 1px solid g.$color-info-base;
    }

    &--light#{&}--info {
        background-color: g.$color-info-shade;
        color: g.$color-info-shade;
        border: 1px solid g.$color-info-base;
    }
}
