@use '../../styles/globals.module.scss' as g;

.alert {
    width: 100%;
    padding: 0.5rem 1rem;
    position: relative;

    &__heading,
    &__body {
       
    }

    &__heading {
        font-weight: bold;
        display: inline-block;
    }

    &__body {
        margin-block-start: 0.25rem;
    }

    a {
        font-weight: bold;
        text-decoration: underline;
    }

    button {
        position: absolute;
        top: 0.7rem;
        right: 1rem;
    }

    &--filled#{&}--danger {
        color: g.$color-white;
        background-color: g.$color-danger-base;
        border-color: g.$color-danger-base;
    }

    &--outline#{&}--danger {
        background-color: g.$color-white;
        border-color: g.$color-danger-base;

        .alert__heading {
            color: g.$color-danger-base;
        }
    }

    &--light#{&}--danger {
        background-color: g.$color-danger-shade;
        border-color: g.$color-danger-base;

        .alert__heading {
            color: g.$color-danger-base;
        }
    }

    &--filled#{&}--success {
        color: g.$color-white;
        background-color: g.$color-success-base;
        border-color: g.$color-success-base;
    }

    &--outline#{&}--success {
        background-color: g.$color-white;
        border-color: g.$color-success-base;

        .alert__heading {
            color: g.$color-success-base;
        }
    }

    &--light#{&}--success {
        background-color: g.$color-success-shade;
        border-color: g.$color-success-shade;

        .alert__heading {
            color: g.$color-success-base;
        }
    }

    &--filled#{&}--info {
        color: g.$color-white;
        background-color: g.$color-info-base;
        border-color: g.$color-info-base;
    }

    &--outline#{&}--info {
        background-color: g.$color-white;
        border-color: g.$color-info-base;

        .alert__heading {
            color: g.$color-info-base;
        }
    }

    &--light#{&}--info {
        background-color: g.$color-info-shade;
        border-color: g.$color-info-shade;

        .alert__heading {
            color: g.$color-info-base;
        }
    }
}
