@use '../../styles/Variables.module.scss' as v;

.alert {
    width: 100%;
    padding: 0.5rem 1rem 0.65rem 1rem;
    border: 1px solid black;
    position: relative;

    &__heading,
    &__body {
        font-size: 0.85rem;
    }

    &__heading {
        font-weight: bold;
        display: inline-block;
        margin-block-end: 0.25rem;
    }

    a {
        font-weight: bold;
        text-decoration: underline;
    }

    button {
        position: absolute;
        top: 0.7rem;
        right: 1rem;
    }

    &--filled#{&}--danger {
        color: v.$color-white;
        background-color: v.$color-danger-base;
        border-color: v.$color-danger-base;
    }

    &--outline#{&}--danger {
        background-color: v.$color-white;
        border-color: v.$color-danger-base;

        .alert__heading {
            color: v.$color-danger-base;
        }
    }

    &--light#{&}--danger {
        background-color: v.$color-danger-shade;
        border-color: v.$color-danger-shade;

        .alert__heading {
            color: v.$color-danger-base;
        }
    }

    &--filled#{&}--success {
        color: v.$color-white;
        background-color: v.$color-success-base;
        border-color: v.$color-success-base;
    }

    &--outline#{&}--success {
        background-color: v.$color-white;
        border-color: v.$color-success-base;

        .alert__heading {
            color: v.$color-success-base;
        }
    }

    &--light#{&}--success {
        background-color: v.$color-success-shade;
        border-color: v.$color-success-shade;

        .alert__heading {
            color: v.$color-success-base;
        }
    }

    &--filled#{&}--info {
        color: v.$color-white;
        background-color: v.$color-info-base;
        border-color: v.$color-info-base;
    }

    &--outline#{&}--info {
        background-color: v.$color-white;
        border-color: v.$color-info-base;

        .alert__heading {
            color: v.$color-info-base;
        }
    }

    &--light#{&}--info {
        background-color: v.$color-info-shade;
        border-color: v.$color-info-shade;

        .alert__heading {
            color: v.$color-info-base;
        }
    }
}
