@use '../../styles/Variables.module.scss' as v;

.alert {
    width: 100%;
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    position: relative;
    margin-block-end: 1rem;

    &__heading,
    &__body {
        font-size: 0.85rem;
    }

    button {
        position: absolute;
        right: 1rem;
    }

    &--filled {
        color: v.$color-white;
    }

    &--outline {
        
    }

    &--danger {
        background-color: v.$color-state-error;
        border-color: v.$color-state-error;
    }

    &--info {
        background-color: v.$color-state-info;
        border-color: v.$color-state-info;
    }
}