@use '../../styles/globals.module.scss' as g;

.modal__wrapper {
    background-color: g.$color-white;
    width: clamp(450px, 40%, 85%);
    padding: 0.5rem;
    color: g.$color-rich-black;

    header {
        padding: 1rem;

        h2 {
            font-family: g.$font-accent;
            font-size: 1rem;
            margin-block-end: 0.5rem;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.5;
        }
    }

    div {
        display: flex;
        gap: 0.5rem;

        button {
            flex: 1;
            background-color: transparent;
            padding-block: 1rem;
            text-transform: uppercase;
            @include g.overline($fw: 600);

            &:first-of-type {
                border: g.$border-default;
            }
    
            &:last-of-type {
                color: tomato;
                border: 1px solid tomato;
            }
        }
    }
}
