@use '../../styles/globals.module.scss' as g;

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    margin-block-start: 55px; // change to variable that corresponds to nav height

    .marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        padding-block: 0.35rem;
        background-color: g.$color-accent-yellow;
        border-bottom: g.$border-default;

        span {
            @include g.overline($fw: 600);
            font-size: clamp(0.4rem, 2vw, 0.65rem);

            &::after {
                content: '•';
                padding-inline: 0.5rem;
                ;
            }
        }
    }
}
