@use '../../styles/globals.module.scss' as g;
@use '../../styles/typography' as t;

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;

    .marquee__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        min-width: 100%;
        padding-block: 0.5rem;
        background-color: g.$color-accent-yellow;
        border-bottom: g.$border-default;

        span {
            font-family: t.$font-accent;
            font-size: 0.7rem;
            font-weight: 600;
            font-stretch: 110%;
            letter-spacing: 2px;
            text-transform: uppercase;
            line-height: 1.2;

            &::after {
                content: '•';
                padding-inline: 0.5rem;
                ;
            }
        }
    }
}
