@use '../../styles/Variables.module.scss' as v;


.photo__section {
    display: flex;
    margin-block-end: 1rem;
    gap: 1rem;
}

.image__input--wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: v.$font-size-12;
        font-weight: normal;
        color: v.$color-smoke-gray;
        margin-block-start: 0.25rem;
    }

    .drop__zone {
        flex-grow: 1;
        border: 2px dotted v.$color-warm-grey-300;
        background-color: v.$color-warm-grey-100;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block-start: 1rem;
        padding: 2rem;

        &.drag--active {
            background-color: v.$color-white;
        }
    }
}

.image__view--wrapper {
    flex-basis: 150px;

    button {
        width: 100%;
    }
}