@use '../../styles/globals.module.scss' as g;
@use '../../styles/typography' as t;

.header {
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 10;

    display: flex;
    flex-flow: row wrap;

    background-color: g.$color-white;
    border-top: g.$border-default;
    border-bottom: g.$border-default;

    /* Menu Button: */
    button[aria-label$="menu"] {
        border-right: g.$border-default;
    }

    [data-info="logo"] {}

    /* All links and buttons in addition to the logo and user menu: */
    div.children__section {
        height: 100%;
        margin-left: auto;

        a {
            display: grid;
            place-content: center;
        }

        a,
        button {
            height: 100%;
            padding-inline: 2.25rem;
            border-left: g.$border-default;
            font-family: t.$font-accent;
            font-weight: 500;

            &:hover {
                background-color: g.$color-accent-yellow;
            }
        }
    }
}
