@use '../../styles/Variables.module.scss' as v;

$size: 14px;

.input__wrapper {
    [type="checkbox"] {
        &:checked~.checkbox__icon {
            &--standard {
                background-color: v.$color-cool-grey-400;
                border: 1px solid v.$color-cool-grey-400;
            }

            &--success {
                background-color: v.$color-state-success;
            }

            &:after {
                position: absolute;
                content: "✗";
                font-size: 0.9rem;
                color: v.$color-white;
                bottom: -2px;
                right: 2px;
            }
        }

        //✘
        //✗ ✔
        &:focus~.checkbox__icon {
            // OnFocus visual effect:
            outline: none;
            box-shadow: 0 0 0 1px black;
            border-color: black;
        }
    }

    .checkbox__icon {
        display: inline-block;
        height: $size;
        width: $size;
        min-width: $size;
        position: relative;
        background-color: v.$color-white;
        border: 1px solid rgba(130, 143, 163, 0.25);

        &--error {
            border: 1px solid v.$color-state-error;
        }

        &--success {
            border: 1px solid v.$color-state-success;
        }
    }

    .input__label {
        display: flex;
        align-items: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;

        &--filled {
            padding: 0.75rem 0.85rem;
            background-color: grey;

            &:hover {
                background-color: purple;
            }
        }

        &--text {
            margin-inline-start: 0.5rem;
            font-size: v.$font-size-12;
            font-weight: 500;
            color: v.$color-rich-black;
        }

        &--checked {
            color: grey;
            text-decoration: line-through;
        }

        &--disabled {
            pointer-events: none;

            .checkbox-label--text {
                opacity: 0.5;
            }
        }
    }
}

.visually-hidden {
    @include v.visually-hidden;
}