@use '../../styles/globals.module.scss' as g;

$size: 1.15rem;

.input__wrapper {
    display: flex;

    [type="checkbox"] {
        /* remove browser chrome */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        font: inherit;
        width: $size;
        min-width: $size;
        height: $size;
        border: g.$border-default;
        border-radius: 0%;
        display: grid;
        place-content: center;

        &:after {
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 80ms transform ease-in-out;
            //background-color: g.$color-rich-black;
        }

        &:checked::after {
            transform: scale(1);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px g.$color-rich-black;
            //border-color: g.$color-rich-black;
        }
    }

    label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        margin-inline-start: 0.5rem;
        margin-block-start: -0.1rem;
        @include g.caption;

        &--checked {
            //color: g.$color-cool-grey-100;
            text-decoration: line-through;
        }
    }
}

.visually-hidden {
    @include g.visually--hidden;
}