@use '../../styles/Variables.module.scss' as v;

$size: 1.25rem;

.input__wrapper {
    display: flex;

    [type="checkbox"] {
        /* remove browser chrome */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        font: inherit;
        color: currentColor;
        width: $size;
        min-width: $size;
        height: $size;
        border: 1px solid currentColor;
        border-radius: 0%;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;

        &:after {
            content: "";
            width: 0.75rem;
            height: 0.75rem;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            transform: scale(0);
            transform-origin: bottom left;
            transition: 80ms transform ease-in-out;
            background-color: v.$color-rich-black;
        }

        &:checked::after {
            transform: scale(1);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px v.$color-rich-black;
            border-color: v.$color-rich-black;
        }
    }

    label {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        font-size: v.$font-size-12;
        color: v.$color-rich-black;
        margin-inline-start: 0.5rem;
        margin-block-start: -0.05rem;

        &--checked {
            color: v.$color-cool-grey-100;
            text-decoration: line-through;
        }
    }
}

.visually-hidden {
    @include v.visually-hidden;
}