@use '../../../../styles/globals.module.scss' as g;

/* Ingredients Editable Fieldset
============================ */

.ingredients__list--inputs {

    li {
        button[data-action="step-idle"] {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 0.65rem;
            //background-color: g.$color-warm-grey-100;

            &:hover {
                //background-color: g.$color-warm-grey-400;
            }

            span {
                @include g.body--2;
                overflow: hidden;
                /* Partial support: */
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
            }
        }
    }

    .ingredient__item--wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        /** Ingredient unit input: */
        &>div:nth-child(1) {
            flex-basis: 20%;
        }

        /** Ingredient fraction input: */
        &>div:nth-child(2) {
            flex: 1;

            label {
                color: transparent;
            }
        }

        @media only screen and (min-width: g.$breakpoint-small) {

            /** Ingredient measure input: */
            &>div:nth-child(3) {
                flex: 1;
            }
        }
    }

    /** 1024px and above: */
    @media only screen and (min-width: g.$breakpoint-large) {
        .ingredient__item--wrapper {
            gap: 0rem 0.5rem;

            [data-input-wrapper] {
                label {
                    font-size: 0.65rem;
                    //@include g.visually--hidden;
                }
            }

            &>div:nth-child(1) {
                flex-basis: 90px;
            }

            &>div:nth-child(2) {
                flex: 1 0 35%;
            }

            &>div:nth-child(3) {
                flex: 1 0 35%;
            }

            &>div:nth-child(4),
            &>div:nth-child(5) {
                flex: 1 1 calc(50% - 0.5rem);
            }
        }
    }

}

/** Add new ingredient button: */
.button {
    margin-block-start: 1rem;

    @media only screen and (max-width: g.$breakpoint-small) {
        width: 100%;
    }
}