@use '../../../../styles/globals.module.scss' as g;
@use '../../../../styles/typography' as t;

/* Ingredients Editable Input/ New Ingr Input
============================ */

div.ingredient__item--wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 1rem;
    background-color: g.$color-warm-grey-100;
    padding: 1rem;

    button[data-action="close"] {
        border: none;
    }

    .ingredient__input--group {
        flex-basis: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 0.25rem 0.5rem;

        [data-input-wrapper="quantity"] {
            flex-basis: 20%;
        }

        [data-input-wrapper="fraction"] {
            flex: 1;

            label {
                color: transparent;
            }
        }

        @media only screen and (min-width: g.$breakpoint-extra-small) {
            [data-input-wrapper="quantity"] {
                flex-basis: 20%;
            }

            [data-input-wrapper="fraction"] {
                flex: 1;
            }

            [data-input-wrapper="measure"] {
                flex: 1.5;
            }
        }

        @media only screen and (min-width: g.$breakpoint-medium) {
            [data-input-wrapper="fraction"] {
                flex-basis: 30%;
            }

            [data-input-wrapper="measure"] {
                flex-basis: 40%;
            }

            [data-input-wrapper="name"] {
                flex-basis: 50%;
            }

            [data-input-wrapper="prepNote"] {
                flex: 1;
            }
        }
    }
}

.ingredients__list--inputs {
    li {
        margin-block-end: 1rem;

        button[data-action="step-idle"] {
            display: flex;
            width: 100%;
            display: flex;
            background-color: g.$color-warm-grey-100;
            padding: 0.75rem 1rem;

            &:hover {
                background-color: g.$color-warm-grey-400;
            }

            /* Step/Ingr Button Label */
            span {
                flex: 1;
                @include t.body($fs: g.$font-size-15);
                overflow: hidden;
                /* Partial support: */
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
            }
        }
    }
}

/** Add new ingredient button: */
.add__new--button {
    margin-block-start: 2rem;

    @media only screen and (max-width: g.$breakpoint-small) {
        width: 100%;
    }
}