@use '../../../../styles/globals.module.scss' as g;

/* Ingredients Editable Input/ New Ingr Input
============================ */

div.ingredient__item--wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem 0.5rem;

    [data-input-wrapper="quantity"] {
        flex-basis: 20%;
    }

    [data-input-wrapper="fraction"] {
        flex: 1;

        label {
            color: transparent;
        }
    }

    @media only screen and (min-width: g.$breakpoint-extra-small) {
        [data-input-wrapper="quantity"] {
            flex-basis: 20%;
        }

        [data-input-wrapper="fraction"] {
            flex: 1;
        }

        [data-input-wrapper="measure"] {
            flex: 1.5;
        }
    }

    @media only screen and (min-width: g.$breakpoint-medium) {
        [data-input-wrapper="fraction"] {
            flex-basis: 30%;
        }

        [data-input-wrapper="measure"] {
            flex-basis: 40%;
        }

        [data-input-wrapper="name"] {
            flex-basis: 50%;
        }

        [data-input-wrapper="prepNote"] {
            flex: 1;
        }
    }

}

.ingredients__list--inputs {
    li {
        button[data-action="step-idle"] {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 0.65rem;
            //background-color: g.$color-warm-grey-100;

            &:hover {
                //background-color: g.$color-warm-grey-400;
            }

            span {
                @include g.body--2;
                overflow: hidden;
                /* Partial support: */
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
            }
        }
    }
}

/** Add new ingredient button: */
.button {
    margin-block-start: 1rem;

    @media only screen and (max-width: g.$breakpoint-small) {
        width: 100%;
    }
}