@use '../../styles/globals.module.scss' as g;

.accordion__wrapper {
    width: 100%;
}

button.accordion__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        transition: transform 0.1s;
    }

    &[data-active=true] svg {
        transform: rotate(-180deg);
    }
}

.accordion__panel--collapsible {
    height: 0px;
    overflow: hidden;

    .accordion__panel--content[data-active=false] {
        @include g.visually--hidden;
    }
}

.accordion__panel--collapsible[data-active=true] {
    height: auto;
}
