.accordion__wrapper {
    width: 100%;
}

button.accordion__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        transition: transform 0.1s;
    }

    &[data-active=true] svg {
        transform: rotate(-45deg);
    }
}

.accordion__panel--collapsible {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.accordion__panel--collapsible[data-active=true] {
    max-height: 100%;
}
