@use '../../styles/Variables.module.scss' as v;

.accordion__wrapper {
    width: 100%;
}

button.accordion__trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
        transition: transform 0.1s;
    }

    &[data-active=true] svg {
        transform: rotate(-45deg);
    }
}

.accordion__panel--content {
    height: 100%;
}

.accordion__panel--collapsible {
    height: 0px;
    overflow: hidden;
}

.accordion__panel--collapsible[data-active=true] {
    height: 100%;
}

// https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
.accordion__panel.isActive {}