@use '../../styles/globals.module.scss' as g;

.password__strength__meter {
    // Password strength meter color for the different levels
    $strength-colors: (tomato, orange, gold, limegreen);

    // Gap width between strength meter bars
    $strength-gap: 6px;
    font-size: 0.825rem;
    text-align: center;

    &>* {
        margin-block: 1rem;
    }

    .strength-meter {
        position: relative;
        height: 3px;
        background: g.$color-cool-grey-100;

        // Dynamically create the gap effect
        &:before,
        &:after {
            content: '';
            height: inherit;
            background: transparent;
            display: block;
            border-color: g.$color-white;
            border-style: solid;
            border-width: 0 $strength-gap 0;
            position: absolute;
            width: calc(25% + #{$strength-gap});
            z-index: 10;
        }

        // Dynamically create the gap effect
        &:before {
            left: calc(25% - #{($strength-gap / 2)});
        }

        // Dynamically create the gap effect
        &:after {
            right: calc(25% - #{($strength-gap / 2)});
        }
    }

    .strength-meter-fill {
        background: transparent;
        height: inherit;
        position: absolute;
        width: 0;
        transition: width 0.5s ease-in-out, background 0.25s;

        // Dynamically generate strength meter color styles
        @for $i from 1 through 4 {
            &[data-strength='#{$i}'] {
                width: (25% * $i);
                background: nth($strength-colors, $i);
            }
        }
    }

    .pill {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            stroke: g.$color-danger-base;
        }

        &[data-valid="true"] {
            svg {
                stroke: limegreen;
            }
        }

        span {
            margin-inline-start: 0.25rem;
        }
    }
}