@use '../../styles/globals.module.scss' as g;

.auth__section {
    max-width: 340px;
    margin: 0 auto;

    &>* {
        margin-block: 1.75rem;
    }

    h2,
    &>p {
        text-align: center;

    }

    form {
        .email__fieldset {
            &[data-active=true] {
                //height: auto;
                display: block;
            }

            &[data-active=false] {
                //height: 0px;
                //overflow: hidden;
                display: none;
            }

            button {
                margin-block: 0.5rem;
            }
        }

        .password__fieldset {
            position: relative;

            button {
                position: absolute;
                top: 2rem;
                right: 0.5rem;
                padding: 0.5rem;
                z-index: 1;
                background-color: g.$color-white;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .auth__providers {
        text-align: center;

        &>* {
            margin-block: 1rem;
        }

        &>div {
            position: relative;

            span {
                background-color: g.$color-white;
                padding-inline: 1rem;
            }

            &::after {
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                top: 50%;
                left: 0;
                background-color: g.$color-warm-grey-400;
                z-index: -1;
            }
        }

        a {
            display: block;
            width: 100%;
            border: 1px solid g.$color-warm-grey-400;
            border-radius: 25px;
            padding-block: 0.75rem;
            font-size: 0.9rem;
        }
    }
}

.password__strength__meter {
    // Password strength meter color for the different levels
    $strength-colors: (tomato, orange, gold, limegreen);

    // Gap width between strength meter bars
    $strength-gap: 6px;
    font-size: 0.825rem;
    text-align: center;

    &>* {
        margin-block: 0.75rem;
    }

    .strength-meter {
        position: relative;
        height: 3px;
        background: g.$color-cool-grey-100;

        // Dynamically create the gap effect
        &:before,
        &:after {
            content: '';
            height: inherit;
            background: transparent;
            display: block;
            border-color: g.$color-white;
            border-style: solid;
            border-width: 0 $strength-gap 0;
            position: absolute;
            width: calc(21.5% + #{$strength-gap});
            z-index: 10;
        }

        // Dynamically create the gap effect
        &:before {
            left: calc(25% - #{($strength-gap / 2)});
        }

        // Dynamically create the gap effect
        &:after {
            right: calc(25% - #{($strength-gap / 2)});
        }
    }

    .strength-meter-fill {
        background: transparent;
        height: inherit;
        position: absolute;
        width: 0;
        transition: width 0.5s ease-in-out, background 0.25s;

        // Dynamically generate strength meter color styles
        @for $i from 1 through 4 {
            &[data-strength='#{$i}'] {
                width: (25% * $i);
                background: nth($strength-colors, $i);
            }
        }
    }

    .pill {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            stroke: g.$color-danger-base;
        }

        &[data-valid="true"] {
            svg {
                stroke: limegreen;
            }
        }

        span {
            margin-inline-start: 0.25rem;
        }
    }
}