@use '../../styles/globals.module.scss' as g;
@use '../../styles/typography' as t;

.auth__section {
    width: 340px;
    margin: 0 auto;

    &>* {
        margin-block: 2rem;
    }

    h2 {
        font-family: t.$font-accent;
    }

    h2,
    &>p {
        text-align: center;

    }

    button[data-info="change-email"] {
        font-size: t.$font-size-12;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    form {
        label::after {
            content: ':';
        }

        .email__fieldset {
            &[data-active=true] {
                display: block;
            }

            &[data-active=false] {
                display: none;
            }
        }

        .password__fieldset {
            position: relative;

            /**  Hide/Show Password Button: */
            button {
                position: absolute;
                top: 2rem;
                right: 0.5rem;
                padding: 0.5rem;
                z-index: 1;
                background-color: g.$color-white;
                font-size: t.$font-size-12;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        /** Continue and Login/Create Acc Button */
        button:not([data-info="password-show"]) {
            margin-block: 1.25rem;
        }
    }

    .auth__providers {
        text-align: center;

        &>* {
            margin-block: 1rem;
        }

        &>div {
            position: relative;

            span {
                background-color: g.$color-white;
                padding-inline: 1rem;
            }

            &::after {
                position: absolute;
                content: "";
                height: 1px;
                width: 100%;
                top: 50%;
                left: 0;
                background-color: g.$color-warm-grey-400;
                z-index: -1;
            }
        }

        a {
            display: block;
            width: 100%;
            border: 1px solid g.$color-warm-grey-400;
            border-radius: 25px;
            padding-block: 0.75rem;
            font-size: 0.9rem;
        }
    }
}