@use '../../styles/Variables.module.scss' as v;

.cards__section {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    article {
        flex: 1;
        padding: 1rem;

        header {
            position: relative;
            overflow: hidden;
            height: 200px;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }


    }

    article:nth-child(1) {
        background-color: ghostwhite;

        .categories__tags {
            display: flex;
            gap: 0.5rem;
            margin-block-start: 1rem;

            span {
                text-transform: uppercase;
                font-size: 0.75rem;
                font-weight: 500;
                letter-spacing: 0.05rem;
            }
        }

        h3 {
            margin-block: 0.35rem
        }

        div.arrow__wrapper {
            margin-inline-start: auto;
            position: relative;

            svg {
                background-color: aqua;
                margin-inline-end: auto;
            }

            &::after {
                content: '';
                width: 100px;
                height: 2px;
                background-color: black;
                position: absolute;
                top: 50%;
            }
        }
    }


    article:nth-child(2) {
        background-color: ghostwhite;
    }

    article:nth-child(3) {
        background-color: ghostwhite;
    }

    article:nth-child(4) {
        background-color: ghostwhite;
    }
}

.recipe__view--wrapper {
    padding: 3rem 1.25rem;

}

.about__view {
    p:first-of-type::first-letter {
        -webkit-initial-letter: 2;
        initial-letter: 2;
        font-weight: 500;
        font-family: inherit;
        margin-inline-end: 0.35rem;
    }

    div.a p {
        font-size: calc(1rem + 0.390625vw);
        margin-block: 1em;
        line-height: 1.5;
    }

    p.b {
        span {
            display: inline-block;
            margin-inline-end: 1rem;
            padding: 0.25rem 0.5rem;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 600;
            background-color: white;
            letter-spacing: 0.025rem;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 2px;
                left: 2px;
                background-color: rgb(0, 221, 255);
                z-index: -1;
            }
        }
    }

    .recipe__photo {
        position: relative;
        overflow: hidden;
        height: 300px;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    div:last-of-type {
        font-size: 0.9rem;
        padding-block: 0.75rem;
        margin-block: 0.5rem;
        border-top: 2px solid black;
        border-bottom: 4px solid black;
        text-transform: uppercase;
        font-size: calc(0.75rem + 0.390625vw);
        font-weight: 600;
        letter-spacing: 0.01rem;
    }
}

/* Large screen devices (1024px and above) */
@media only screen and (min-width: v.$breakpoint-large) {

    .about__view {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;

        h1 {
            flex-basis: 100%;
            font-size: 2rem;
        }

        .recipe__photo {
            flex-basis: 250px;
            max-width: 250px;
            width: 250px;
            height: 250px;
        }

        div.a {
            flex: 1;
            margin-block: 0;
        }

        div.a p {
            margin-block: 0;
            line-height: 1.5;
        }




        div:last-of-type {
            flex-basis: 100%;
            text-align: center;

        }
    }


}


.ingredients__view {
    h2 {
        margin-block: 1rem;
        font-size: calc(1.5rem + 0.390625vw);
        position: relative;
    }

    h2::after {
        content: '';
        width: 100%;
        height: 16px;
        position: absolute;
        bottom: 0rem;
        left: 0;
        background-color: rgb(255, 221, 0);
        z-index: -1;
    }

    ul>li {
        margin-bottom: 0.75rem;
    }

    label {
        font-size: calc(1rem + 0.390625vw) !important;
    }
}

.instructions__view {
    h2 {
        margin-block: 1rem;
        font-size: calc(1.5rem + 0.390625vw);
        position: relative;

    }

    h2::after {
        content: '';
        width: 100%;
        height: 16px;
        position: absolute;
        bottom: 0rem;
        left: 0;
        background-color: rgb(255, 221, 0);
        z-index: -1;
    }

    h3 {
        font-size: calc(1rem + 0.390625vw);
        margin-bottom: 1rem;
        position: relative;
    }

    h3::before {
        content: '';
        background-color: black;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
    }

    h3::after {
        content: '*';
        font-size: 2rem;
        font-weight: 200;
        color: black;
        position: absolute;
        bottom: -1rem;
        right: 0;
    }

    ul>li {
        margin-bottom: 0.75rem;
    }

    li>p {
        font-size: calc(1rem + 0.390625vw);
        line-height: 1.5;
    }
}

.comments__view {
    border: 2px solid black;
    padding: 0.75rem;
    position: relative;
    margin-block-start: 2rem;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 8px;
        left: 8px;
        background-color: rgb(255, 221, 0);
        z-index: -1;
    }

    h2 {
        font-size: calc(1rem + 0.390625vw);
        margin-bottom: 0.25rem;

    }


    p {
        font-size: calc(0.825rem + 0.390625vw);
        white-space: pre-wrap;
    }
}