@use '../../styles/globals.module.scss' as g;

.recipe__view--navigation {
    &> :first-child {
        border-right: g.$border-default;
    }

    &> :last-child {
        margin-left: auto;
        padding-inline: 2rem !important;
        border-left: g.$border-default;
        /* Make an anchor component */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.recipe__view--wrapper {
    @include g.main--wrapper;
    width: g.$page-width;
    padding-block-end: 2rem;
    $paragraph-width: 65ch;

    p {
        @include g.body--1;
    }

    h2 {
        font-family: g.$font-accent;
        font-stretch: 105%;
        letter-spacing: 0.25px;
        font-weight: 700;
    }

    section {
        padding-block-end: 2rem;
    }

    section[data-info="header"] {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-family: g.$font-heading;
            font-size: clamp(2rem, 4vw, 2.25rem);
            font-weight: 400;
            line-height: 1.35;
            text-transform: capitalize;
            text-wrap: balance;
            position: relative;
            margin-block-start: 1.5rem;

            /** testing styles: */
            border-bottom: g.$border-default;
            border-width: 2.5px;
            border-bottom-right-radius: 225px 15px;
            border-bottom-left-radius: 0px 255px;
        }

        .recipe__tags {
            @include g.overline($fs: 0.65rem, $fw: 600);

            span {
                display: inline-block;
                margin-inline-end: 0.5rem;
            }

            ul {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                li {
                    min-width: fit-content;
                    padding: 0.25rem 0.5rem;
                    border: g.$border-default;
                }
            }
        }

        .recipe__description.with__dropcap::first-letter {
            font-weight: 500;
            font-family: g.$font-accent;
            text-transform: uppercase;
            float: left;
            padding: 1rem 0.35rem 0rem 0rem;
            font-size: 3.25rem;
            line-height: 0.5;
        }

        figure {
            position: relative;
            overflow: hidden;
            height: 300px;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }

        /* Large screen devices (1024px and above) */
        @media only screen and (min-width: g.$breakpoint-large) {
            figure {
                $size: 250px;
                max-width: $size;
                width: $size;
                height: $size;
            }
        }
    }

    section[data-info="ingredients"] {
        max-width: $paragraph-width;

        h2,
        ul>li:not(:last-child),
        ul {
            margin-block-end: 1.25rem;
        }

        label {
            font-size: 1rem;
        }
    }

    section[data-info="instructions"] {
        max-width: $paragraph-width;

        h2,
        ul>li:not(:last-child) {
            margin-block-end: 1.25rem;
        }
    }

    section[data-info="extra-info"] {
        max-width: $paragraph-width;

        h2 {
            font-size: 1.25rem;
            margin-block-end: 0.5rem;
        }

        p {
            font-size: 0.825rem;
        }
    }
}

.recipe__view--wrapper {
    @media only screen and (max-width: g.$breakpoint-small) {
        section[data-info="header"] {
            h1 {
                line-height: 1.15;
            }

            .recipe__tags {
                span {
                    margin-block-end: 0.25rem;
                }
            }
        }
    }

    @media only screen and (min-width: g.$breakpoint-small) {
        section[data-info="header"] {
            .recipe__tags {
                order: -1;
            }
        }
    }
}