@use '../../styles/globals.module.scss' as g;

.cards__section {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.recipe__view--navigation {
    &> :first-child {
        border-right: g.$border-default;
    }

    &> :last-child {
        margin-left: auto;
        padding-inline: 2rem !important;
        border-left: g.$border-default;
        /* Make an anchor component */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.recipe__view--wrapper {
    @include g.body--1;
    @include g.main--wrapper;
    width: g.$page-width;
    padding-block-end: 2rem;
    color: rgb(40, 40, 40);
    $paragraph-width: 65ch;

    h2 {
        font-family: g.$font-accent;
        font-stretch: 105%;
        letter-spacing: 0.25px;
        font-weight: 700;
    }

    section {
        padding-block-end: 2rem;
    }

    section[data-info="header"] {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-family: g.$font-heading;
            font-size: clamp(2rem, 4vw, 2.25rem);
            font-weight: 600;
            line-height: 1.35;
            text-transform: capitalize;
            text-wrap: balance;
            position: relative;
            margin-block-start: 1.5rem;

            &::after {
                content: '';
                height: 2.5px;
                width: 100%;
                background-color: g.$color-rich-black;
                position: absolute;
                bottom: -4px;
                left: 0;
            }
        }

        .recipe__tags {
            span {
                display: inline-block;
                margin-inline-end: 0.5rem;
                text-transform: uppercase;
                font-size: 0.75rem;
                font-weight: 600;
                letter-spacing: 1.25px;
                text-transform: uppercase;
            }

            ul {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                li {
                    min-width: fit-content;
                    padding: 0.25rem 0.5rem;
                    border: 1px solid g.$color-rich-black;
                    font-size: 0.75rem;
                    font-weight: 500;
                    letter-spacing: 1.25px;
                    text-transform: uppercase;
                }
            }
        }

        .recipe__description::first-letter {
            //font-family: g.$font-accent;
            //-webkit-initial-letter: 2;
            //initial-letter: 2;
            //margin-inline-end: 0.35rem;
            font-weight: 500;
            font-family: g.$font-accent;
            text-transform: uppercase;
            float: left;
            padding: 1rem 0.35rem 0rem 0rem;
            font-size: 3.25rem;
            line-height: 0.5;
        }

        figure {
            position: relative;
            overflow: hidden;
            height: 300px;

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
            }
        }

        /* Large screen devices (1024px and above) */
        @media only screen and (min-width: g.$breakpoint-large) {
            figure {
                $size: 250px;
                max-width: $size;
                width: $size;
                height: $size;
            }
        }
    }

    section[data-info="ingredients"] {
        max-width: $paragraph-width;

        ul>li:not(:last-child) {
            margin-bottom: 0.75rem;
        }

        label {
            font-size: 1rem;
        }

        h2 {
            margin-block-end: 1rem;
        }
    }

    section[data-info="instructions"] {
        max-width: $paragraph-width;

        ul>li:not(:last-child) {
            margin-block-end: 1rem;
        }

        h2 {
            margin-block-end: 1rem;
        }
    }

    section[data-info="extra-info"] {
        max-width: $paragraph-width;
        font-size: 0.9rem;

        h2 {
            font-size: 1.25rem;
        }
    }
}

.recipe__view--wrapper {
    @media only screen and (max-width: g.$breakpoint-small) {
        section[data-info="header"] {
            h1 {
                line-height: 1.15;
            }

            .recipe__tags {
                span {
                    margin-block-end: 0.25rem;
                }
            }
        }
    }

    @media only screen and (min-width: g.$breakpoint-small) {
        section[data-info="header"] {
            .recipe__tags {
                order: -1;
            }
        }
    }
}

.test_button {
    position: relative;
    padding: 0.7rem 2.25rem;
    border: g.$border-default;
    background-color: g.$color-white;
    box-shadow: 3px 3px 0 0 g.$color-rich-black;
    transition: box-shadow .25s cubic-bezier(.4, 0, .2, 1) 0ms;
    margin-block-start: 1rem;

    border: 1px solid g.$color-rich-black;
    font-size: 0.825rem;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    

    &:hover {
        //border-width: 2px; //outline
        cursor: pointer;
        box-shadow: 6px 6px 0 0 g.$color-rich-black;
        background-color: g.$color-accent-yellow;
    }

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border-top: g.$border-default;
        border-left: g.$border-default;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 15px;
        height: 15px;
        background-color: transparent;
        border-bottom: g.$border-default;
        border-right: g.$border-default;
    }
}